body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow:hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right:0.5rem;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;/* Gives a small space between card n main-content*/
}

.music-player{
    background-color: #121212;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px; 
}
a{
    text-decoration: none;
    color: #fff;

}
/* for home and search container*/
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;/* home and search comes in same line*/
    flex-direction: column;/*search comes below of home*/
    justify-content: center;/* to make content vertically center */
    height: 100px;
    padding:0.5rem 0.75rem ;/* bcoz in main website top &btm has 8px and left & right has 12px */
    
}
/* for home and search text*/
.nav-option{
    line-height:2.5rem ;
    opacity: 0.7;
    padding:0.5rem 0.75rem ;/*Space between  contents home,search*/
}

.nav-option:hover{/* when u over home and search its shows in bright*/
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;/* space b/w icons and text(home & search)*/

}
.library{
    background-color: #121212;
    border-radius:1rem;
    height: 100%;/* create playlist and lets find are under same library so occupies upto bottm*/
   margin-top: 0.5rem ;
   padding:0.5rem 0.75rem ;
}
.optionsss{
    display: flex;/* icon,library text and +,,-> comes to sameline*/
    justify-content:space-between ;/* + and -> comes to right end*/
    align-items: center;/* icon,library text, + and -> comes to center of line*/
}
.lib-option img{ /*making //[] this image small*/
    height: 1.25rem;
    width: 1.25rem;   
} 
.iconss {
    font-size: 1.25rem;
     display: flex;
}
.iconss i{ /* For + and arrow right */
    opacity: 0.7;
    margin-right: 1rem;
}
.iconss i:hover{
    opacity: 1;
}
.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;/* top  right n bottom  left */
    padding: 0.7rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}
.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: #fff;
    border: none;/* bcoz by default borders will get border*/
    border-radius: 100px;
    padding:0.25rem 1rem ;
    font-weight:700 ;
    height: 2rem;
     width: fit-content;
} 
.dark-badge{/*to make install app bg balck and textclr white*/
    background-color:#000;
    color: #fff;


} 
.sticky-nav{/* for install appp explore premimum nav*/
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0 ;/*top right bottom  right*/
}
.sticky-nav-icons{  /*Forward & backward icons*/
    margin-left:0.75rem; 
}
.sticky-nav-options{
    display: flex;
    justify-content:center ;
    align-items:center ;
 
}
.nav-item{  /*for for premium install and user emojii*/
    margin-right:1.5rem;    
}

/* media used bcoz when we use original when it comes to screen
 size of 1000,,forward and explore premium disappears */
@media (max-width:100px) {
        .hide{
            display:none ;
        }    
} 
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;/* to give small space b/w above and below card*/

}
.cards-container{
    display: flex;/*every card comes under same row/line*/
    flex-wrap:wrap;/*to maintain the original size of a card top 50-Global means for all other 
    cards if we dnt wrap all cards comes in same row*/
}
.card-img{/* for image present in card*/
    width: 100%;/* occupies the width of the card*/
    border-radius: 0.5rem;

}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.85rem;/* to make top 50 global bold*/
    opacity: 0.5;/*your daily updates*/
}
.footer{
    height: 300px;
   display: flex;
   align-items: center;/*to make the footer line center*/
   justify-content:center;
}
.line{
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.4;


}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width:25%;
    /* background-color: pink; */
}
.player{
    width: 50%;
    /* background-color: orange; */
}
.controls{
    width:25%;
    /* background-color: blue; */
}
.player-controls{/* for icons of forward/backward*/
display: flex;
    justify-content:center;
    align-items: center;
}
.player-control-icon{
    height: 1rem;
    margin-right:1.75rem;
    opacity: 0.7;
}
.player-control-icon :hover{
    opacity: 1;

}
.play-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
/* this is for the line playline */
.progress-bar::-webkit-slider-runnable-track{
    background-color:#ddd ;
    border-radius: 100px;
    height: 0.2rem;
}
/* for thumb round lies on playlline */
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
   border-radius: 50%;
   margin-top: -6px; /* to make it liens on middle of line*/
}